body {
  background: #777;
  margin: 0;
  font-family: sans-serif;
}

.header {
  background: #000;
}

.header img {
  margin: auto;
  display: block;
}

.sidebar {
  background: #333;
  width: 20%;
  min-width: 150px;
  height: 800px;
  display: inline-block;
  float: left;
  margin-right: 2%;
  padding: 10px;
  border-right: 2px solid black;
}

.sidebar ul {
  list-style: none;
  line-height: 2em;
}

div.main {
  width: 60%;
  margin: auto;
  display: inline-block;
  padding: 10px;
}

.main img {
  float: right;
  max-width: 100%;
  padding: 10px;
  border: 2px solid #333;
  margin: 10px;
  box-sizing: border-box;
}

.info {
  font-style: italic;
  font-weight: bold;
}
